{{#foreach posts}}
{{^has tag="micro"}}
<article class="h-entry {{post_class}} h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  {{#if feature_image}}
  <div class="post-image"><img src="{{img_url feature_image}}" alt="{{title}}"></div>
  {{/if}}
  <h1 class="p-name" itemprop="headline"><a href="{{url}}">{{title}}</a></h1>
  <div class="meta">
    <span class="meta-child"><i class="far fa-calendar-alt"></i> <time class="dt-publisheddt-published" itemprop="datePublished" datetime="{{date published_at format="YYYY-MM-DD hh:mm:ssZZ"}}">{{date published_at format="YYYY-MM-DD hh:mm:ssZZ"}}</time> ({{date published_at timeago="true"}}) </span>
    <i class="far fa-ellipsis-v"></i> <span class="meta-child"><i class="far fa-stopwatch"></i> {{reading_time}}</span>
    <i class="far fa-ellipsis-v"></i> <span class="meta-child"> <a href="{{url}}" class="u-url">Permalink <i class="far fa-external-link"></i></a></span>
  </div>
  <div class="e-content">
    {{content}}
  </div>
</article>
<hr />
{{/has}}
{{/foreach}}
{{pagination}}
