<!doctype html>  
<head>  
  <title>{{meta_title}}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="initial-scale=1, viewport-fit=cover">

  <link rel="stylesheet" href="{{asset "css/screen.css"}}" /> 

  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="{{asset "css/fontawesome.min.css"}}" />
  <link rel="stylesheet" href="{{asset "css/fa-brands.min.css"}}" />
  <link rel="stylesheet" href="{{asset "css/fa-regular.min.css"}}" />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>

  {{ghost_head}}
</head>  
<body class="{{body_class}}">
  <div class="mobile-header">
    <div class="mobile-title">{{@blog.title}}</div>
    <div class="mobile-menu">
      {{{navigation}}}
    </div>  
  </div>
  <div class="bar"></div>
  <div class="container">
    <div class="site-title">
      <h1>{{@blog.title}}</h1>
    </div>
  </div>
  <div class="container">
    <div class="left"> 
      <div class="title-box left-flex-child">
        <span class="intro">
          My name is <a href="/about" class="h-card" rel="me">Johnathan Lyman</a> and <span class="p-note">I am an engineer at <a href="//papertrail.com">Papertrail</a>, 
          a huge Apple nerd and semi-regular blogger.</span>
          <a href="/about">Find out more</a>.
        </span>
      </div>
      <div class="widget left-flex-child column-menu">
        <h3>Links</h3>
        {{{navigation}}}
      </div>
      <div class="widget left-flex-child">
        <h3>Side Projects</h3>
        Check out my <a href="//micro.johnathan.org">micro blog</a> for a look at some of the half-formed thoughts that spill out.
      </div>
      <div class="widget left-flex-child">
        You can find <a href="/project-archives"></a>some of my past projects</a> or <a href="/post-archives">the post archives</a>.
        <br /><br />
        The development of this blog layout is (loosely) tracked <a href="https://github.com/johlym/johnathan-org">here</a>.
      </div>
      <div class="widget left-flex-child">
        <h3>Meta &amp; Copyright</h3>
        <a href="//johnathan.org">johnathan.org</a> and its content are <i class="far fa-copyright"></i> 2014&mdash;{{date format="YYYY"}}. All rights reserved. Trademarks are property of their respective owners.
      </div>
      <div class="widget left-flex-child">
        <h3>Powered by:</h3>
        <ul class="meta-pills">
        </ul>
        <a class="pb-link" href="https://link.johnathan.org/linode"><i class="fab fa-linode"></i></a>
        <a class="pb-link" href="https://link.johnathan.org/ghostblog"><img class="pb-small" src="{{ asset "svg/ghost.org.svg"}}"/></a>
        <a class="pb-link" href="https://link.johnathan.org/letsencrypt"><i class="far fa-lock"></i></a>
        <a class="pb-link" href="https://link.johnathan.org/dnsimple"><img class="pb-small" src="{{ asset "svg/dnsimple.com.svg"}}"/></a>
        <i class="fab fa-html5"></i>
        <i class="fab fa-css3"></i>
        <i class="fab fa-apple"></i>
      </div>
      <div class="widget left-flex-child">
        Uptime: <span class="uptime-number"><i class="far fa-spinner fa-pulse"></i></span> (<a href="//status.johnathan.org">see stats</a>)</a>
      </div>
      <div class="widget left-flex-child">
        <span id="sidebar-quote"></span>
      </div>
    </div>
    <div class="right">
      <div class="right-wrapper">
        {{{body}}}
      </div>
    </div>
  </div>

  {{ghost_foot}}

  <div style="display: none"><address id="hcard-Johnathan-Lyman" class="vcard">
  <img style="float:left; margin-right:15px; margin-bottom:35px;" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=256" alt="photo of " class="photo img-circle" height="128px" width="128px"/>
 <a class="url lead fn" href="https://johnathan.org">Johnathan Lyman</a>
 <div class="adr">
  <span class="locality"><small>Kenmore</small></span>,

  <span class="region"><small>WA</small></span>,

  <div class="country-name"><small>United States</small></div>

 </div>
 <a class="email" href="mailto:email@johnathan.org"><i class="fa fa-fw fa-envelope-o"></i>&nbsp;email@johnathan.org</a>&nbsp;
<div><span class="category">blogging</span>, <span class="category">design</span>, <span class="category">technology</span>, <span class="category">software</span>, <span class="category">development</span>, <span class="category">gaming</span>, <span class="category">photography</span></div>
</address></div>

<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.johnathan.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

  <script>
    var paginationLines = [
    'The end may have come for this page, but the next one is sure to delight!',
    'What are your thoughts on the next page?',
    'If you thought those posts were great, try these!',
    'The next page is where the wild things are... and the next set of posts.'
    ];
    var sidebarQuotes = [
    "It's everything your mother warned you about.",
    "Brought to you by a sneeze and a fart.",
    "Powered by the souls of undocumented codes.",
    "Make the independent web great again.",
    "No Ragrets.",
    "These violent delights have violent ends and in their triumph die."
    ];
    var randomPaginationLines = Math.floor(Math.random()*paginationLines.length);
    var randomPaginationLines = Math.floor(Math.random()*sidebarQuotes.length);

    document.getElementById('hey-look').innerHTML = paginationLines[randomPaginationLines];
    document.getElementById('sidebar-quote').innerHTML = sidebarQuotes[randomPaginationLines];

    var uptimeField = document.querySelector(".uptime-number"),
    checkAndDisplayUptime = function() {
      var e = new XMLHttpRequest;
      e.open("get", "https://updown.io/api/checks?api-key=ro-aNa87VGVKAjK8d9qa8Dk", !0), e.responseType = "json", e.onload = function() {
        if (200 === e.status) {
          var a = e.response;
          if (null !== a[0].uptime) {
            uptimeField.innerHTML = a[0].uptime + "%"
          }
          else {
            uptimeField.innerHTML = "unknown %";
          }
        }
      }, e.send()
    };
null !== uptimeField && setTimeout(function() {
  checkAndDisplayUptime()
}, 5e3);
  </script>
</body>  
</html>  