<!doctype html>  
<head>  
  <title>{{meta_title}}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="initial-scale=1, viewport-fit=cover">

  <link rel="stylesheet" href="{{asset "css/screen.css"}}" /> 
  <link rel="stylesheet" href="{{asset "css/fontawesome.min.css"}}" />
  <link rel="stylesheet" href="{{asset "css/fa-brands.min.css"}}" />
  <link rel="stylesheet" href="{{asset "css/fa-regular.min.css"}}" />

  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/highlightjs/styles/default.css" />
  <!-- endbower -->

  {{ghost_head}}

</head>  
<body class="{{body_class}}">
  <div class="mobile-header">
    <div class="mobile-title">{{@blog.title}}</div>
    <div class="mobile-menu">
      {{{navigation}}}
    </div>  
  </div>
  <div class="bar"></div>
  <div class="container">
    <div class="site-title">
      <h1>{{@blog.title}}</h1>
    </div>
  </div>
  <div class="container">
    <div class="left"> 
      <div class="title-box left-flex-child">
        <div class="intro">
          <div class="intro-image">
            <img src="{{ asset "images/headshot.jpg" }}" alt="Johnathan Lyman" class="photo" />
          </div>
          My name is <a href="/about" class="h-card" rel="me">Johnathan Lyman</a> and <span class="p-note">I am an engineer at <a href="//papertrail.com">Papertrail</a>, 
          a huge Apple nerd and semi-regular blogger.</span>
          <a href="/about">Find out more</a>.
        </div>
      </div>
      <div class="widget left-flex-child column-menu">
        <h3>Links</h3>
        {{{navigation}}}
      </div>
      <div class="widget left-flex-child">
        <h3>Latest Blog Posts</h3>
        <div class="navigation">
        {{#get "posts" limit="5"}}
        {{#foreach posts}}
        <div class="link link-{{slug}}"><a href="{{url absolute="true"}}">{{title}}</a><br /><small>{{date published_at timeago="true"}}</small><br /><br /></div>
        {{/foreach}}
        {{/get}}
        </div>
      </div>
      <div class="widget left-flex-child">
        <i class="far fa-copyright"></i> 2014&mdash;{{date format="YYYY"}} Johnathan Lyman. Made with <i class="far fa-heart"></i> and <i class="far fa-coffee"></i> in Seattle.
      </div>
      <div class="widget left-flex-child">
        <a class="pb-link" href="https://link.johnathan.org/linode"><i class="fab fa-linode"></i></a>
        <a class="pb-link" href="https://link.johnathan.org/ghostblog"><img class="pb-small" src="{{ asset "svg/ghost.org.svg"}}"/></a>
        <a class="pb-link" href="https://link.johnathan.org/letsencrypt"><i class="far fa-lock"></i></a>
        <a class="pb-link" href="https://link.johnathan.org/dnsimple"><img class="pb-small" src="{{ asset "svg/dnsimple.com.svg"}}"/></a>
        <a href="https:////fontawesome.com" class="pb-link"><i class="fab fa-font-awesome-flag"></i></a>
        <a href="/rss/" class="pb-link"><i class="far fa-rss"></i></a>
        <a href="https:////github.com/johlym" rel="me" class="pb-link"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/_johlym" rel="me" class="pb-link"><i class="fab fa-twitter"></i></a>
        <a href="/archives" class="pb-link"><i class="far fa-archive"></i></a>
      </div>
      <div class="widget left-flex-child">
        <i class="far fa-tachometer-alt"></i> Uptime: <span class="uptime-number"><i class="far fa-spinner fa-pulse"></i></span> <a href="//status.johnathan.org"><i class="far fa-external-link"></i></a>
      </div>
    </div>
    <div class="right">
      <div class="right-wrapper">
        {{{body}}}
      </div>
    </div>
  </div>

  {{ghost_foot}}

  <div style="display: none"><address id="hcard-Johnathan-Lyman" class="vcard">
 <a class="url lead fn" href="https://johnathan.org">Johnathan Lyman</a>
 <div class="adr">
  <span class="locality"><small>Kenmore</small></span>,

  <span class="region"><small>WA</small></span>,

  <div class="country-name"><small>United States</small></div>

 </div>
 <a class="email" href="mailto:email@johnathan.org"><i class="fa fa-fw fa-envelope-o"></i>&nbsp;email@johnathan.org</a>&nbsp;
<div><span class="category">blogging</span>, <span class="category">design</span>, <span class="category">technology</span>, <span class="category">software</span>, <span class="category">development</span>, <span class="category">gaming</span>, <span class="category">photography</span></div>
</address></div>

<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.johnathan.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

<!-- bower:js -->
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/highlightjs/highlight.pack.js"></script>
<!-- endbower -->

<script>hljs.initHighlightingOnLoad();</script>

{{^post}}
<script async src="{{ asset "js/quotes.js"}}"></script>
{{/post}}
<script async src="{{ asset "js/uptime.js"}}"></script>
</body>  
</html>  