{{!< default}}

{{#post}}
<article class="h-entry {{post_class}} h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  {{#if feature_image}}
  <div class="post-image"><img src="{{img_url feature_image}}" alt="{{title}}"></div>
  {{/if}}
  <h1 class="p-name" itemprop="headline"><a href="{{url}}">{{title}}</a></h1>
  <div class="meta">
    <span class="meta-child"><i class="far fa-calendar-alt"></i> <time class="dt-publisheddt-published" itemprop="datePublished" datetime="{{date published_at format="YYYY-MM-DD hh:mm:ssZZ"}}">{{date published_at format="YYYY-MM-DD hh:mm:ssZZ"}}</time> ({{date published_at timeago="true"}}) </span>
    <i class="far fa-ellipsis-v"></i> <span class="meta-child"><i class="far fa-stopwatch"></i> {{reading_time}}</span>
    <i class="far fa-ellipsis-v"></i> <span class="meta-child"> <a href="{{url}}" class="u-url">Permalink <i class="far fa-external-link"></i></a></span>
  </div>
  <div class="e-content">
    {{content}}
  </div>
</article>
<br /><br />
<div class="pagination">
  <div class="later">
    {{#prev_post}}
    <a href="{{url}}"><i class="far fa-angle-double-left"></i> {{title}}</a>
    {{/prev_post}}
  </div>
  <div class="count">
    &nbsp;
  </div>
  <div class="earlier">
    {{#next_post}}
    <a href="{{url}}">{{title}} <i class="far fa-angle-double-right"></i></a>
    {{/next_post}}
  </div>
</div>
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = '{{url absolute="true"}}';  
this.page.identifier = 'ghost-{{comment_id}}'; 
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://johnathan-org.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Comments disabled due to javascript not being allowed by your browser.</noscript>
{{/post}}